* {
    margin: 0 auto;
    padding: 0;
}

div {
    padding-top: 20px;
    text-align: center;
    width: 600px;
}

div img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 0px 5px #eee);
}

.box {
    width: 1200px;
    display: flex;
    justify-content: center;
    gap: 10px;
}