* {
    margin: 0 auto;
    padding: 0;
}

div {
    padding-top: 1vw;
    text-align: center;
    width: 30vw;
}

div img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 0px 5px #eee);
}

.box {
    width: 60vw;
    display: flex;
    justify-content: center;
    gap: 1vw;
}